<h1>Listing pledges</h1>

<table class="pledges">
  <tr>
    <th>Issue url</th>
    <th>Issue title</th>
    <th>Amount</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render @pledges %>

</table>

<br />

<%= link_to 'New Pledge', new_pledge_path, id: 'new-pledge-link' %>
