<div class="navbar-form pull-right">
  <%= link_to profile_path, class: 'navbar-text' do %>
    <%= gravatar current_user %> <%= current_user.name %>
  <% end %>

  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'logout btn' %>
</div>
